# create a copy of this file at the root directory, name it "next.config.js" and edit the MONGO_URI variable to your credentials

/** @type {import('next').NextConfig} */
const nextConfig = {
  reactStrictMode: true,
}

module.exports = nextConfig

// environment variable values
module.exports = {
  env: {
    MONGO_URI: ""
  }
}