
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.Sidebar {
  background-color:RGBA(0, 0, 0, 0.16); 
  padding: 4; 
  width:"10%"
}